/* .App {
  text-align: center;
} */
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.website-title {
  color: rgb(155, 18, 18);
  padding-right: 40%;
}